<section>
	<ul>

		<!--  the page title -- in nav bar -->

		<li class='pagetitle' href="#">
			<h3>Bloc Chat</h3>
		</li>

		<!-- a button to open modal form to create a new room in nav bar -->

		<li ng-controller='ModalCtrl as modal'>
			<button type="button" class="btn btn-default" ng-click="modal.open()">New room</button>
		</li>

		<!-- a list of available chat rooms in nav bar-->

		<li>
			<a href="#" ng-repeat="room in chatRooms" ng-click="setCurrentRoom(room)">
				<!-- class="links-container" -->
				<h4>{{room.$value}}</h4></a>
		</li>

	</ul>

	<!-- a container for the list of messages in the currently selected room -->

	<div class="messages-container">
		<h3>{{ currentRoom.$value }}</h3>
		<div ng-repeat="message in messages"> {{ message.username }} (sent at: {{ message.sentAt }})
			<br/> - {{ message.content }}
		</div>
	</div>

</section>